.author-card {
    max-width: 400px;
    min-height: 250px;
    position: unset;
}

.title-btn-container {
    display: flex;
    justify-content: space-between;
}

.author-bio {
    margin-top: 20px;
    height: 8.5rem;
}

.author-name {
    margin: 0;
    margin-top: 8px;
}

.btn {
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 12%);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.btn-primary {
    background-color: #3f51b5;
    color: #fff;
}

.btn-danger {
    background-color: #ff4081;
    color: #fff;
}
.btn-link {
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
}
