<mat-card class="author-card">
  <div class="title-btn-container">
    <mat-card-title class="author-name">{{
      author.name
    }}</mat-card-title>
    <button
    *ngIf="component === 'auth'"
    (click)="handleFavoriteAuthorAdd(author)"
    class="btn btn-primary"
  >
    Add Favt
  </button>
  </div>
  <mat-card-content class="author-bio">
    <p>{{ author.bio }}</p>
  </mat-card-content>
  <mat-card-actions class="title-btn-container">
    <button
      (click)="handleFavoriteAuthorRemove(author)"
      class="btn btn-danger"
      *ngIf="component === 'fav-auth'"
    >
      Remove Favt
    </button>
    <a class="btn btn-link" href="{{ author.link }}" target="_blank">Details</a>
  </mat-card-actions>
</mat-card>
