<div class="card">
  <!-- <img src="img_avatar.png" alt="Avatar" style="width: 100%" /> -->
  <div class="container">
    <h4><b>Alexandre Dumas</b></h4>
    <p>
      Alexandre Dumas (24 July 1802 – 5 December 1870), also known as Alexandre
      Dumas père (French for 'father'), was a French writer. His works have been
      translated into many languages, and he is one of the most widely read
      French authors.
    </p>
    <div style="text-align: center;">
      <a class="link-btn" target="_blank" href="https://en.wikipedia.org/wiki/Alexandre_Dumas">Link</a>
    </div>
  </div>
</div>
