<div class="spinner-container" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="authors-container">
  <span
    *ngFor="
      let author of authors
        | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }
    "
  >
    <app-author [author]="author" [component]="'auth'"></app-author>
  </span>
</div>
<div style="text-align: center">
  <div style="display: inline-block">
    <pagination-controls
      (pageChange)="pageChangeEvent($event)"
    ></pagination-controls>
  </div>
</div>
