<div class="favorite-authors-container">
  <span *ngFor="let favoriteAuthor of favoriteAuthors">
    <app-author
      [author]="favoriteAuthor"
      [component]="'fav-auth'"
      (favoriteAuthorRemoveEvent)="handleFavoriteAuthorRemove()"
    ></app-author>
  </span>
</div>
<div style="margin-top: -50px;">
  <div *ngIf="favoriteAuthors.length === 0" class="alert">
    Favorite author list is empty! Please add some from
    <a class="btn btn-link" [routerLink]="['']">Authors</a>

  </div>
</div>
