.title-container {
  background-color: #181E46;
  color: #fff;
  text-align: center;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  height: 50px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: 600;
}
.content-container {
  margin-left: 200px;
  padding: 10px 16px;
  height: 1000px;
}
